{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Code</title>
   <link href="{% static 'css/verify_email.css' %}" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-purple-50 flex items-center justify-center min-h-screen">
    <section class="flex flex-col lg:flex-row items-center w-full bg-white">
        <div class="absolute top-10 left-10 z-10">
            <a href="{% url 'home' %}" class="text-black text-xl font-semibold hover:text-purple-600">
                <p>Access Key Manager</p>
            </a>
        </div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} fixed top-5 left-1/2 transform -translate-x-1/2 w-11/12 md:w-4/5 lg:max-w-lg p-4 rounded flex items-center justify-between z-50">
            <p>{{ message }}</p>
            <span class="alert-close cursor-pointer text-white text-xl" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endfor %}
        <div class="w-full lg:w-2/5 h-full flex items-center justify-center bg-white">
            <div class="verification-form ">
                <h1 class="text-2xl font-semibold text-gray-700 mb-6 text-center">Enter Verification Code</h1>
                <form action="{% url 'verify' %}" method="POST" class="space-y-6 shadow-xl outline-2 p-4 rounded-lg">
                    {% csrf_token %}
                    <div class="code-inputs">
                        <input type="text" name="input1" maxlength="1" class="code-input" required />
                        <input type="text" name="input2" maxlength="1" class="code-input" required />
                        <input type="text" name="input3" maxlength="1" class="code-input" required />
                        <input type="text" name="input4" maxlength="1" class="code-input" required />
                        <input type="text" name="input5" maxlength="1" class="code-input" required />
                        <input type="text" name="input6" maxlength="1" class="code-input" required />
                    </div>
                    <button type="submit">Verify</button>         
                </form>
            </div>
        </div>
        <div class="hidden lg:block w-full lg:w-3/5 h-auto overflow-hidden">
            <img src="{% static 'images/verify-img.jpeg' %}" alt="young-man-smiling" class="object-cover w-full h-full transition-transform duration-500 hover:scale-110">
        </div>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
