{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Access Key</title>
    {% tailwind_css %}
</head>

<body>

    <div class="relative min-h-screen bg-purple-300">
        <!-- Dashboard link at the top left corner -->
        <div class="absolute top-10 left-10 p-4">
            <a href="{% url 'dashboard' %}" class="hover:text-purple-500 text-2xl font-bold">Dashboard</a>
        </div>

        <!-- Centered form -->
        <div class="flex items-center justify-center min-h-screen">
            <div class="w-full max-w-md bg-white shadow-2xl rounded p-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} border px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                </div>
                {% endfor %}
                {% endif %}
                <h2 class="text-2xl font-bold mb-6 text-center">Generate Access Key</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="key" class="block text-gray-700 mb-2">Access Key</label>
                        <input type="text" name="key" id="key" class="w-full px-3 py-2 border rounded bg-gray-200"
                            placeholder="Generated Key" disabled>
                    </div>
                    <button type="submit"
                        class="w-full bg-purple-500 text-white py-2 rounded hover:bg-purple-600 transition duration-200">Generate
                        Key</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>